<nav class="navbar mb-5">
    <a class="navbar-brand" routerLink="/dashboard">{{title}}</a>
    <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
            <a class="nav-item nav-link" id="first-item" routerLink="/controls">The Board</a>
            <a class="nav-item nav-link" routerLink="/lights">The Lights</a>
            <a class="nav-item nav-link" href="http://shiftchurchgainesville.com/" target="_blank">The Church</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>